img{
    height: 10;
    width: auto;
}
#bold{
    font-weight: 500;
  
}
.d-flex{
    width: 30vw;
    justify-content: space-around;
}
/* #search{
    
    width: 240px;
} */
.nav{
    
    z-index: 1800;
}
#bttt{
 margin-left: 10px;
display: inline-block;
justify-content: flex-start;
width: 50vw;
max-height: 100%;
min-width: 200px;
}
#btt{
    display: inline;
}
@media only screen and (max-width: 600px) {

    #searchhh{
        height: 100%;
        width: 90vw;
       
    }
    #btt{
        
       display: inline;
        max-width: 43vw;
        max-height: 100%;
        }
        #bttt{
            margin-top: 50px;
           display: inline-block;
           justify-content: flex-start;
           width: 100vw;
           max-height: 100%;
           min-width: 200px;
           }
  }

#search{
    height: 100%;
    width: 20vw;
    /* margin: ; */
}