img{
    height: 10;
    width: auto;
}
#bold{
    font-weight: 500;
  
}
.d-flex{
    width: 30vw;
    justify-content: space-around;
}
#search{
    
    width: 240px;
}
.nav{
    min-width: 100vw;
    z-index: 1800;
}
#bttt{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}