#wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: blueviolet;
    clip-path: polygon(0 24%, 100% 0%, 100% 77%, 0% 100%); */

}
#img{
    width: 250px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    #img{
        width: 100px;
        height: 70px;
    }
  }